
  <div class="container">
    <h3 class="color-input">ANNONCES</h3>
    <div *ngIf="longueur===0">
      Aucunes annonces existantes !
    </div>
    <table class="table container">
      <tbody>
        <tr *ngFor="let ad of list_annonce" style="border-top: 2px solid grey;" class="d-flex" routerLinkActive="active" routerLink="../annonce/{{ad.id}}">
          <!-- routerLinkActive="active" routerLink="achat/{{ad.id}}"> -->
          <td class="col-4">
            <tr>
              <p class="pt-1 font-weight-bold">
                {{ad.name}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{ad.category}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{ad.state}}
              </p>
            </tr>
          </td>
          <td class="col-6">
            <p class="pt-1 font-italic">
              {{ad.description}}
            </p>
          </td>
        </tr>
        <tr style="border-top: 2px solid grey;">
          <p> </p>
        </tr>
      </tbody>
    </table>

  </div>
