<div id="demo" class="carousel slide mt-3" style="height: 750px; overflow: hidden" data-ride="carousel" data-interval="5000">
  <ol class="carousel-indicators" style="bottom: 710px; left: 500px;">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner max-overview">
    <div class="carousel-item active">
      <ul class="list-group">
        <p><span class="title-item pt-2">{{list_cat[0]}}</span></p>
        <div style="border-top: 2px solid grey;">
          <p> </p>
        </div>
        <div *ngIf="longueur[0]===0">
          <!-- Aucun objets existants ! -->
        </div>
        <tr *ngFor="let id of itemCat[0]" style="border-bottom: 2px solid grey;" class="d-flex pb-2" routerLinkActive="active" routerLink="../catalogue/achat/{{id.id}}">
          <td class="col-3">
            <img src="https://i.imgur.com/{{id.images}}.jpg" title="source: imgur.com" style="width:120px"/>
          </td>
          <td class="col-3">
            <tr>
              <p class="pt-1 font-weight-bold">
                {{id.name}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.category}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.price}} CHF
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.state}}
              </p>
            </tr>
          </td>
          <td class="col-6">
            <p class="pt-1 font-italic">
              {{id.description}}
            </p>
          </td>
        </tr>
      </ul>
    </div>

    <div class="carousel-item">
      <ul class="list-group">
        <p><span class="title-item">{{list_cat[1]}}</span></p>
        <div style="border-top: 2px solid grey;">
          <p> </p>
        </div>
        <div *ngIf="longueur[1]===0">
          <!-- Aucun objets existants ! -->
        </div>
        <tr *ngFor="let id of itemCat[1]" style="border-bottom: 2px solid grey;" class="d-flex" routerLinkActive="active" routerLink="../catalogue/achat/{{id.id}}">
          <td class="col-2">
            <a href="https://imgur.com/{{id.images}}"><img src="https://i.imgur.com/{{id.images}}.jpg" title="source: imgur.com" style="width:120px"/></a>
          </td>
          <td class="col-4">
            <tr>
              <p class="pt-1 font-weight-bold">
                {{id.name}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.category}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.price}} CHF
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.state}}
              </p>
            </tr>
          </td>
          <td class="col-6">
            <p class="pt-1 font-italic">
              {{id.description}}
            </p>
          </td>
        </tr>
      </ul>
    </div>

    <div class="carousel-item">
      <ul class="list-group">
        <p><span class="title-item">{{list_cat[2]}}</span></p>
        <div style="border-top: 2px solid grey;">
          <p> </p>
        </div>
        <div *ngIf="longueur[2]===0">
          <!-- Aucun objets existants ! -->
        </div>
        <tr *ngFor="let id of itemCat[2]" style="border-bottom: 2px solid grey;" class="d-flex" routerLinkActive="active" routerLink="../catalogue/achat/{{id.id}}">
          <td class="col-2">
            <a href="https://imgur.com/{{id.images}}"><img src="https://i.imgur.com/{{id.images}}.jpg" title="source: imgur.com" style="width:120px"/></a>
          </td>
          <td class="col-4">
            <tr>
              <p class="pt-1 font-weight-bold">
                {{id.name}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.category}}
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.price}} CHF
              </p>
            </tr>
            <tr>
              <p class="pt-1">
                {{id.state}}
              </p>
            </tr>
          </td>
          <td class="col-6">
            <p class="pt-1 font-italic">
              {{id.description}}
            </p>
          </td>
        </tr>
      </ul>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
