<div class="container">
  <h2>Messagerie :</h2>
<div *ngIf="longueur===0">
  Aucunes discussions existantes ! Si vous avez commencer une discussion avec un autre utilisateur, il faut attendre que celui-ci réponde pour que la discussion soit visible.
</div>
  <table class="table container">
    <tbody>
      <tr *ngFor="let d of list_discussion" style="border-top: 2px solid grey;" class="d-flex" routerLinkActive="active"  routerLink="/discussion/{{d[0][6]}}">
        <td class="col-3">
          <img src="https://i.imgur.com/{{d[0][5]}}.jpg" title="source: imgur.com" style="width:80px"/>
        </td>
        <td class="col-5">
          <tr>
            <p class="pt-1">
              Son nom : {{d[0][4]}}
            </p>
          </tr>
        </td>
        <td class="col-7">
          Message :
          <div>{{d[0][2]}}</div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
