<div class="container">
  <h3 class="pb-2 pt-5 color-input">ANNONCES</h3>
  <table class="table container">
    <tbody>
      <tr *ngFor="let ad of list_annonce" style="border-top: 2px solid grey;" class="d-flex" routerLinkActive="active" routerLink="{{ad.id}}">
        <td class="col-4">
          <tr>
            <p class="pt-1 font-weight-bold">
              {{ad.name}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              {{ad.category}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              {{ad.state}}
            </p>
          </tr>
        </td>
        <td class="col-6 font-italic">
          {{ad.description}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
