<div class="container-fluid h-100 mt-5">
 <div class="row justify-content-md-center">
   <div class="col-sm-3">
     <table class="table">
       <tr>
         <div class="btn btn-secondary" routerLinkActive="active" routerLink="info">
          <h4>Information personnelle</h4>
         </div>
       </tr>
       <tr>
         <div class="btn btn-secondary mt-3" routerLinkActive="active" routerLink="vente">
           <h4>Mes ventes</h4>
         </div>
       </tr>
       <tr>
         <div class="btn btn-secondary mt-3" routerLinkActive="active" routerLink="achat">
           <h4>Mes achats</h4>
         </div>
       </tr>
       <tr>
         <div class="btn btn-secondary mt-3" routerLinkActive="active" routerLink="annonce">
           <h4>Mes annonces</h4>
         </div>
       </tr>
     </table>
     <br><br><br><br><br><br><br><br><br><br>
     <br><br><br><br><br><br><br>
     <br><br>
   </div>

   <div class="col-sm-7">
   </div>
 </div>
</div>
