<div class="container">
  <h3 class="pb-2 color-input">CATALOGUE</h3>
  <div *ngIf="longueur===0">
    Pas d'objets existants !
  </div>
  <table class="table container">
    <tbody>
      <tr *ngFor="let id of list_items" style="border-top: 2px solid grey;" class="d-flex" routerLinkActive="active" routerLink="achat/{{id.id}}">
        <td class="col-3">
          <img src="https://i.imgur.com/{{id.images}}.jpg" title="source: imgur.com" style="width:120px"/>
        </td>
        <td class="col-3">
          <tr>
            <p class="pt-1 font-weight-bold">
              {{id.name}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              {{id.category}}
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              {{id.price}} CHF
            </p>
          </tr>
          <tr>
            <p class="pt-1">
              {{id.state}}
            </p>
          </tr>
        </td>
        <td class="col-6">
          <p class="pt-1 font-italic">
            {{id.description}}
          </p>
        </td>
      </tr>
      <tr style="border-top: 2px solid grey;">
        <p> </p>
      </tr>
    </tbody>
  </table>
  <div class="box w-100 " style="display: flex; justify-content: space-around;">
    <div class="one">
      <button (click)="pageBefore()" type="button" class="btn btn-dark"><<</button>
    </div>
    <div class="two">
      <button (click)="pageNext()" type="button" class="btn btn-dark">>></button>
    </div>
  </div>
</div>
