<form action="action_page.php">
 <div class="container mt-5">
   <div class="form-group">
     <label for="email_input" class="font-weight-bold">Username</label>
     <input type="email" class="form-control" id = "email_input" placeholder="Enter e-mail" (keyup)="set_email($event)">
     <p>message : {{Username}}</p>
   </div>

   <label class="font-weight-bold mt-4">Password</label>
   <input type="password" placeholder="Enter Password" (keyup)="set_password($event)">

   <button class="btn btn-success mt-4 mb-4" *ngIf="!authStatus" [disabled]="!(email && password)" (click)="onSignIn()" type="submit">Login</button>
   <button class="btn btn-danger mt-4 mb-4" *ngIf="authStatus" (click)="onSignOut()" type="submit">Disconnection</button>
   <div class="col-sm-2">
     <button (click)="createUser()" type="button" class="btn btn-dark" style="width: 180px"> Créer un utilisateur </button>
   </div>
   <label class="mb-5">
     <input type="checkbox" checked="checked" name="remember"> Remember me
   </label>
 </div>
</form>



<p>
  {{listStatus}}
</p>
