
<form (ngSubmit)="onSubmitForm()">
<div class="container-fluid h-100 mt-5">
 <div class="row justify-content-md-center">


   <div class="col-sm-6">

     <div class="form-group has-search pt-3">
         <span class="fa fa-search form-control-feedback"></span>
         <input type="text" class="form-control" placeholder="{{info_user.first_name}}" (keyup)="set_first_name($event)">
     </div>

     <div class="form-group has-search pt-3">
         <span class="fa fa-search form-control-feedback"></span>
         <input type="text" class="form-control" placeholder="{{info_user.last_name}}" (keyup)="set_last_name($event)">
     </div>

     <div class="form-group has-search pt-3">
         <span class="fa fa-search form-control-feedback"></span>
         <input type="text" class="form-control" placeholder="{{info_user.user_name}}" (keyup)="set_user_name($event)">
     </div>

     <div class="form-group has-search pt-3">
         <span class="fa fa-search form-control-feedback"></span>
         <input type="email" class="form-control" placeholder="{{info_user.email}}" (keyup)="set_email($event)">
     </div>
   </div>


   <div class="col-sm-9 mt-5">

     <div class="row justify-content-end mr-5">

       <div class="col-sm-2">
         <button class="btn btn-dark" (click)="newInfo()"  type="submit">Appliquer</button>
       </div>
     </div>
   </div>

 </div>
</div>
</form>
