<table>
  <tr>
    <label class="pt-3 color-input">MOTS-CLES</label>
  </tr>
  <tr>
    <div class="form-group has-search pt-3">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control color-input" placeholder="Recherche" (keyup)="onKeyword($event)">
    </div>
  </tr>
  <br>
  <tr style="border-top: 1px solid grey;">
    <label class="pt-3 color-input">FILTRES</label>
  </tr>
  <tr>
    <label class="pt-3 color-input">Prix à partir de:</label>
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="number" class="form-control color-input" placeholder="CHF" (keyup)="onPriceFrom($event)">
    </div>
  </tr>
  <tr>
    <label class="pt-2 color-input">Prix jusqu'à:</label>
    <div class="form-group has-search">
        <input type="number" class="form-control color-input" placeholder="CHF" (keyup)="onPriceTo($event)">
    </div>
  </tr>

  <tr style="border-top: 1px solid grey;">
    <div class="dropdown pt-2 pb-2">
      <select class="btn btn-lg w-100" style="color: grey" (change)="selectChangeHandlerCat($event)">
        <option value="all">Toutes catégories</option>
        <option value="livre">Livres</option>
        <option value="electronique">Electronique</option>
        <option value="mobilier">Mobilier</option>
        <option value="cours">Etude</option>
        <option value="mobilite">Mobilite</option>
        <option value="autre">Autre</option>
      </select>
    </div>
  </tr>

  <tr style="border-top: 1px solid grey;">
    <div class="dropdown pt-2 pb-2" style="text-align: center;">
      <select class="btn w-100 btn-lg" style="color: grey" (change)="selectChangeHandlerState($event)">
        <option value="all">Tous Etats</option>
        <option value="Neuf">Neuf</option>
        <option value="Bon état">En bon état</option>
        <option value="Usé">Abimé</option>
      </select>
    </div>
  </tr>
  <tr style="border-top: 1px solid grey;">
    <div class="row pt-4 mr-1 justify-content-md-end">
      <div>
        <button (click)="sendMesage()" type="button" class="btn btn-dark" routerLinkActive="active" [routerLink]="['../catalogue']" style="width: 100px">Chercher</button>
      </div>
    </div>
  </tr>
</table>
