//::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//  color: white;
//  opacity: 1; /* Firefox */
//}

.color-input {
  color: grey;
  outline: none !important;
  box-shadow: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
