<!-- <footer class="page-footer font-small bg-dark mt-4 pt-4"> -->
<footer class="page-footer font-small bg-dark fixed-bottom">
  <!-- <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-uppercase text-muted">Support</h5>
        <p class="color-footer">Conditions d'utilisation</p>
        <p class="color-footer">Aide</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase text-muted">Espace utilisateur</h5>
        <p class="color-footer">Compte</p>
        <p class="color-footer">Paramètres</p>
        <p class="color-footer">Messagerie</p>
      </div>


      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase text-muted">Contact</h5>
        <p class="color-footer">Rue du Général Dufour 24, 1204 Genève</p>
        <p class="color-footer">022 379 15 15</p>
        <p class="color-footer">unibay@unige.ch</p>
      </div>
    </div>
  </div> -->
    <div class="footer-copyright text-center text-white py-1">
      <img src="./../../assets/images/github_icon_v3.png " alt="Github" style="width: 25px; height: 25px;">
      Github |
      <a class="color-footer" href="https://github.com/unige-pinfo-2019/PInfo1">Les Canards Laqués</a>
    </div>
    <!-- <div class="text-center">© 2019 Copyright:
    <a href="https://github.com/unige-pinfo-2019/PInfo1"> Les Canards Laqués</a>
  </div> -->
</footer>
